/* PLACE YOU CUSTOM STYLES IN THIS FILE */

/* Index Page */
ul.dropdown-menu > li > a {
    display: block;
}


/* Product Page */
span.input_error {
    padding: 0;
    margin: 5px 0;
    font-weight: 400;
    color: #CC3341;
    z-index: 1;
}

/* Fixed modal display issue */
.modal-backdrop {
    z-index: -1;
}
.nk-footer {
    z-index: 0;
}
.modal-open {
    padding-right: 0px !important;
}
.product_body {
    padding-right: 0px !important;
}

/* Hide Chat when button is not clicked */
.hide-chat {
    display: none;
}

/* <table> styles on product.php */
.addinfo_table_right {
    text-align: right;
    border: none !important;
}
.addinfo_table_left {
    text-align: left;
    border: none !important;
}

ul > li > a.dropdown-anchor {
    color: #b9a186;
}